# Mac system files
.DS_Store
.DS_Store?
._*

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code settings
.vscode/

# Sensitive data documents
config.json
log_utils.py
donor_ids.txt

# Raw data only
data/raw/

# Scraping outputs
login_page_debug.html
*.log
*.pdf
login_response.html
login_bank3_raw.html
login_bank3_failed.html
login_bank3_debug.html
failed_decode_content.bin
debug_after_submit.png
debug_login_page.png
debug_main_page.png
page_source.html
donor_page_1.png
error_page_1.png
last_profile_source.html
scrapers/page_source_before_scraping.html
bank3.html
debug_error.png
donor_page_2.png
donor_page_3.png
donor_page_4.png
donor_page_5.png
donor_page_6.png
donor_page_7.png
donor_page_8.png
donor_page_9.png
scrapers/bank3_debug
debug_page_source.html
bank1_processed_data.csv
bank2_processed_data.csv
bank3_processed_data.csv
bank4_processed_data.csv
merged_donor_data_with_ids.csv
progress_logs/November 2024

# Models
models/ComfyUI/
models/ComfyUI
models/__MACOSX
models/ECCV2022-RIFE
models/frame-interpolation

# videos (files are too large for uploading to Github)
outputs/videos
